@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@500;600;700&family=Montserrat:wght@700&family=Oswald:wght@500&family=Raleway:ital,wght@0,300;0,500;1,100;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");

/*
font-family: 'Cormorant Unicase', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Lora', serif;
*/
.header__links,
.header__pfone,
.header__calllinks,
.header__spisok-text,
.header__section-text,
h1,
.text,
.header__title-text,
.header__title-right {
  color: white;
}

/*=================================== page1_header===================================*/
.header__nav {
  display: grid;
  grid-template-columns: 40% 2fr repeat(4, 10%);
}

.header__navbar {
  margin-bottom: 5%;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}

.header__logo {
  padding-left: 15%;
}

.header__pfone {
  font-weight: bolder;
  font-family: "Oswald", sans-serif;
  word-spacing: normal;
  padding-top: 18%;
}

.header__socseti {
  padding-left: 15%;
}

.header__socseti,
.header__call {
  padding-top: 18%;
}

.header__calllinks {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}

.header__navbar-li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
}

.header__drop {
  list-style: none;
}

.header__navbar-drop {
  position: absolute;
  padding-top: 50px;
  opacity: 0;
}

.header__drop:hover {
  background: rgba(0, 0, 0, 0.54);
}

.header__navbar-li:hover .header__navbar-drop {
  opacity: 1;
}

.hamburger-menu input {
  display: none;
}

/*---------------------------header-title--------------------------------------------------------*/

.header__title {
  display: grid;
  grid-template-columns: 2fr 40%;
  padding-left: 5%;
}

.text {
  font-family: "Raleway", sans-serif;
  font-size: 15pt;
  margin-top: -15%;
  font-weight: 500;
  margin-left: 3%;
}

.title {
  font-family: "Lora", serif;
  font-size: 150pt;
  margin-top: -2%;
  font-weight: 400;
}

.header__title {
  display: grid;
  grid-template-columns: 1fr 40%;
  padding-left: 5%;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
  border: none;
  cursor: pointer;
}

.header__botton-text {
  background-color: #1566b3;
  color: white;
  border: none;
  padding: 2%;
  margin-top: 3%;
}

.header__right-title {
  border-left: 1px solid white;
  opacity: 0.7;
  padding-left: 1%;
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-evenly;
}

.header__title-text {
  margin-top: 0px;
  margin-bottom: 0px;
}

.header__title-right {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
  margin-left: 20%;
}

.header__links {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

/*=================================== page1_header-footer===================================*/

.header__footer {
  display: flex;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.54);
  margin-top: 10%;
  padding: 2%;
}

.header__section-text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header__section {
  display: flex;
  align-items: center;
  align-content: stretch;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

/*=================================== page1_main-info===================================*/

.main {
  background-color: #e5e5e5;
}

.main__ihfo {
  display: flex;
  max-width: 25vw;
}

.main__info-text {
  padding-left: 2%;
  width: 20vw;
}

.main__intro {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 15%;
  padding-right: 100px;
}

.foto {
  max-width: 100%;
}

.main {
  background-color: #e5e5e5;
}

.main__title-intro {
  margin: 0 auto;
  font-family: "Lora", serif;
  font-size: 40pt;
  padding-top: 0px;
  padding-bottom: 10%;
  text-align: center;
  color: #4c65ad;
  font-weight: normal;
}

.main__title-intro::before {
  content: "6";
  font-size: 90pt;
  display: block;
  position: relative;
  top: 135px;
  right: 500px;
}

.section {
  width: 80vw;
  margin: 0 auto;
}

.texticon,
.textp {
  font-family: "Raleway", sans-serif;
  color: #515151;
}

.texticon {
  font-size: 13pt;
  font-weight: 600;
}

/*=================================== page1_main_room_cards===================================*/
.container-tit {
  margin-top: 0px;
  padding-top: 200px;
}

.container,
.container-tit {
  display: flex;
  justify-content: center;
}

.main__description {
  display: grid;
  justify-items: center;
}

.description__button {
  background-color: inherit;
  color: #000000;
  font-family: "Raleway", sans-serif;
  border: 1px solid #1566b3;
  padding: 10px 30px;
  margin-right: 10px;
}

.description__button:focus,
.description__button:hover {
  background-color: #1566b3;
  color: #ffff;
}

.room__pic-top {
  background-color: #ffc03b;
  color: #ffff;
  display: inline;
  padding: 5px 10px;
  z-index: 2;
  position: absolute;
  text-align: center;
}

.main__title {
  color: #4c65ad;
  font-family: "Cormorant Unicase", serif;
  font-size: 60pt;
}

.container__roomcards {
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

.roomcard-mini {
  display: grid;
  width: 25vw;
  background-color: #ffff;
  padding: 10px;
  margin: 50px 30px 0 0;
}

.roomcard__pic-mini {
  display: flex;
  justify-content: center;
}

.roomcard__pic-mini img {
  max-width: 100%;
}

.container__mini-items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.container__marker-minik {
  margin-top: 24px;
  padding-left: 10px;
}

.room__items-mini {
  padding: 0;
  width: 45%;
  border-right: 1px solid rgb(194, 193, 193);
}

.container__mini-btn {
  display: flex;
  justify-content: space-between;
}

.room__marker-passive--mini {
  width: 47%;
}

.btn-card {
  background-color: inherit;
  border-color: #4c65ad;
  border: solid 1px;
  color: #4c65ad;
  font-family: "Raleway", sans-serif;
  padding: 5px 30px;
  margin-right: 20px;
}

.btn-card:hover {
  background-color: #4c65ad;
  border-color: #ffff;
  color: #ffff;
  cursor: pointer;
}

.items {
  list-style: square url(/assets/images/checkmark.png) inside;
  color: #545454;
}

.items__li {
  margin: 5px;
  font-size: large;
}

.room__description {
  font-family: "Raleway", sans-serif;
  margin: 10px 0;
}

.room__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: x-large;
}

.room__marker {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
}

.room__marker-passive {
  color: #545454;
  font-family: "Raleway", sans-serif;
  margin-bottom: 5px;
}

.room__marker-number,
.room__marker-price {
  color: #000;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.room__marker-price {
  font-weight: 500;
  font-size: larger;
}

.room__marker-free--active {
  color: #01c839;
}

/*==================================register==============================*/
.main__register {
  background-color: ivory;
  margin: 300px 0px 0px 0px;
}

.main__register-form {
  max-width: 1100px;
  margin: 0 auto;
}

.header-register__list {
  padding-left: 5px;
}

.header-register {
  display: inline-block;
  padding: 94px 0px 90px 0px;
}

.header-register__list {
  list-style: none;
  counter-reset: li-counter;
}

.header-register__list li {
  counter-increment: li-counter;
  font-family: "Lora", serif;
  font-size: 25px;
  font-weight: 600;
  color: #505050;
}

.header-register__list li::before {
  content: counter(li-counter);
  color: #505050;
  font-weight: 600 bold;
  font-size: 20px;
  width: 23px;
  height: 23px;
  border: 2px solid #505050;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
  padding: 4px;
  margin: 5px;
}

.header-register__list li {
  display: inline;
}

.header-register__line {
  display: inline-block;
  width: 38px;
  height: 0px;
  border: none;
  border-top: 1px dotted rgba(76, 101, 173, 1);
  padding-left: 4px;
  padding-right: 4px;
}

.register-blok__title {
  font-family: "Raleway", sans-serif;
  font-size: 55px;
  font-weight: 400;
  margin: 0px 0px 50px 0px;
  color: rgba(18, 18, 18, 1);
}

.register-box,
.register-blok,
.register-blok__columns {
  display: flex;
}

.register-blok__columns {
  column-gap: 6%;
}

.register-blok__context {
  display: flex;
  flex-direction: column;
}

.register-blok {
  padding: 0px 0px 179px 0px;
}

.register-box,
.register-box2,
.register-box3 {
  margin: 0px 0px 30px 0px;
}

.register-box__data,
.register-box__data-2 {
  display: flex;
  flex-direction: column;
}

.register-blok__colum1,
.register-blok__colum2 {
  display: flex;
  flex-direction: column;
}

.register-blok__colum1 {
  margin: 0px 51px 0px 0px;
}

.register-box__data {
  margin: 0px 25px 0px 0px;
}

.register-box__style,
.register-box2__style,
.register-box3__style,
.register-box4__style {
  background: inherit;
  color: black;
  position: relative;
  cursor: pointer;
  margin: 15px 0px 0px 0px;
  font-size: 18px;
  border: 1px solid rgba(80, 80, 80, 1);
}

.register-box4__style {
  padding: 13px 14px 90px 14px;
}

.register-box__style,
.register-box3__style {
  padding: 13px 14px;
}
.register-box2__style {
  padding: 13px 0px;
}

.register-box__style {
  width: 131px;
}
.register-box2__style,
.register-box3__style,
.register-box4__style {
  width: 350px;
}

.register-box__title,
.register-box2__title,
.register-box3__title,
.register-box4__title {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 25px;
}

.register-button__book {
  display: inline-block;
  white-space: nowrap;
  width: 350px;
  background-color: inherit;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  padding: 23px 0px 22px 0px;
  background: rgba(21, 102, 179, 1);
}

.register-button__book:hover {
  background-color: rgb(16, 76, 133);
}

.register-button__book:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.register-img {
  margin: 0px 0px 0px 80px;
}

.register-img img {
  max-width: 25vw;
}

/*================================cards-blok=============================*/
.main__cards-blok {
  display: flex;
  background-color: white;
  height: 35vh;
  padding: 3%;
}

.main__cards-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 10pt;
  color: #4c65ad;
  border: 2px solid #1566b3;
  background-color: white;
  padding: 5%;
  cursor: pointer;
}

.main__cards-conteiner {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2%;
}

.main__cards-txt {
  margin: 0 auto;
  font-family: "Lora", serif;
  font-size: 40pt;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  color: #4c65ad;
  font-weight: normal;
}

.main__cards-info {
  margin-left: 5%;
}

.main__cards-texth {
  font-family: "Raleway", sans-serif;
  font-size: 18pt;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
}

.main__cards-textp {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.main__cards-cena {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.main__cards-cena::before {
  content: "";
  display: inline-block;
  height: 2px;
  background: #4c65ad;
  width: 6%;
  margin: 2%;
}

/*=====================================gallery==========================================================*/

.main__gallery {
  max-width: 1200px;
  padding: 200px 30px 0px 30px;
  flex-direction: column;
  margin: 0 auto;
}

.photos-area__title {
  font-family: "Raleway", sans-serif;
  font-size: 4vw;
  font-weight: 400;
  line-height: 72px;
  color: rgba(76, 101, 173, 1);
}

.photos-area {
  text-align: center;
  display: flex;
  justify-content: center;
}

.gallery-block {
  display: flex;
  margin-top: 80px;
}

.gallery-block__blok,
.gallery-block2__blok {
  display: flex;
}

.gallery-block__photo1 {
  width: 586px;
  margin: 0px 30px 0px 0px;
}

.gallery-block__photo1 img {
  height: 378px;
}

.gallery-block__photo2 {
  width: 277px;
  margin-right: 30px;
}

.gallery-block__photo2 img {
  margin: 0px 0px 30px 0px;
  height: 172px;
}

.gallery-block__photo2 img:last-child {
  margin: 0px;
}

.gallery-block_photo3 {
  width: 279px;
  margin-left: 30px;
}

.gallery-block__photo3 img {
  height: 378px;
}

.gallery-block2 {
  display: flex;
  margin-top: 42px;
}

.gallery-block2__photo1 {
  width: 277px;
  margin: 0px 30px 0px 0px;
}

.gallery-block2__photo1 img {
  margin: 0px 0px 30px 0px;
  height: 172px;
}

.gallery-block2__photo1 img:last-child {
  margin: 0px;
}

.gallery-block2__photo2 {
  width: 279px;
  margin: 0px 30px 0px 0px;
}

.gallery-block2__photo2 img {
  height: 378px;
}

.gallery-block2__photo3 {
  width: 586px;
}

.gallery-block2__photo3 img {
  height: 378px;
}

.gallery-block__photo1 img,
.gallery-block__photo2 img,
.gallery-block__photo3 img,
.gallery-block2__photo1 img,
.gallery-block2__photo2 img,
.gallery-block2__photo3 img {
  max-width: 100%;
}

.gallery-button {
  display: flex;
  justify-content: center;
  padding-top: 74px;
}

.gallery-button__watch {
  border: 1px solid #4c65ad;
  padding: 17px 76px 14px 76px;
  background-color: inherit;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #4c65ad;
  text-decoration: none;
}

.gallery-button__watch:hover {
  background-color: #4c65ad;
  border-color: #ffff;
  color: #ffff;
  cursor: pointer;
}

/*=========================reviews===================================================*/
.container__reviews {
  display: flex;
  justify-content: center;
}

.container__reviews-title {
  text-align: center;
}

.main__reviews {
  width: 80vw;
  background-image: url(/assets/images/otziv-bck.png);
  padding-top: 100px;
  z-index: 2;
  position: relative;
}

.container__reviews-cards {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5%;
  font-family: "Raleway", sans-serif;
}

.reviews__card {
  background-color: #fcfdff;
  padding: 32px;
}

.reviews-quotes {
  position: relative;
  bottom: 54px;
}

.reviews-inst {
  position: relative;
  left: 140px;
  bottom: 34px;
}

.user {
  background-color: #3a76e5;
  border-radius: 50px;
  padding: 25px;
}

.user2 {
  border-radius: 50px;
}

.reviews__author {
  display: flex;
  align-items: center;
  padding-bottom: 150px;
}

.reviews__txt {
  margin-left: 20px;
}

.reviews__name {
  margin-bottom: 10px;
  font-weight: bolder;
}

.reviews__date,
.review {
  color: #515151;
}
@media (max-width: 900px) {
  .container__reviews,
  .container__reviews-cards,
  .main__reviews {
    display: flex;
    direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .reviews-quotes {
    bottom: 20px;
  }
}
@media (min-width: 901px) and (max-width: 1280) {
}

/*===============================discount=============================================*/
.main__discount {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: start;
  background-image: url(/assets/images/ajnmir1srt.png);
}

.main__title-discount {
  text-align: center;
}

.container__discount {
  display: flex;
  justify-content: center;
  font-weight: lighter;
}

.discount__percent {
  padding-bottom: 100px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 90pt;
  font-weight: 900;
  background-image: linear-gradient(
    to right,
    rgba(21, 119, 228, 1) 15%,
    rgba(0, 212, 131, 1) 50%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.discount__percent img {
  position: relative;
  top: 20px;
}

/*================main__location section============================================*/

.main__location-maps {
  margin-top: 4%;
}

.main__location-nav {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #4c65ad;
}

.main__location-link {
  margin-left: 1%;
}

.main__location-box {
  display: grid;
  grid-template-columns: 50% 1fr;
  width: 80vw;
}

.main__location-nav {
  padding-top: 20%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #4c65ad;
}

.main__location-link {
  margin-left: 1%;
}

.main__location-info {
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-evenly;
  padding-left: 5%;
}

.main__location-icon {
  padding-right: 20px;
  padding-left: 0px;
}

.main__location-tele,
.main__location-rambler,
.main__location-adres,
.main__location-whats {
  padding-left: 23%;
  font-family: "Raleway", sans-serif;
  font-size: 13pt;
  font-weight: bolder;
}

.main__location-text {
  color: #959699;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 15pt;
  font-weight: 500;
}

.main__location-iconwhats {
  padding-left: 3%;
}

.main__location-textt {
  padding-left: 9%;
  font-family: "Raleway", sans-serif;
  font-size: 16pt;
  font-weight: 500;
}

.main__location-ssilka {
  color: #000000;
}

/*====================================footer=======================================================*/

.footer {
  background-color: #004281;
  display: grid;
  max-width: 100vw;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 8rem;
  max-height: 8rem;
  grid-template-areas: "nav btn contacts";
}

.menu__list-footer {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.menu__item-footer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 0.5em;
}

.container__footer-btn {
  grid-area: btn;
  display: flex;
  align-content: center;
}

.footer__btn {
  background-color: inherit;
  border-color: #ffff;
  border: solid 1px;
  color: #ffff;
  font-family: "Raleway", sans-serif;
  padding: 0.5rem 3rem;
  margin: 2rem;
}

.footer__contacts {
  grid-area: contacts;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__mode {
  margin-bottom: 1rem;
}

.footer__phone {
  font-size: x-large;
}

.footer__social {
  margin-right: 2rem;
}

.phone,
.footer__mode,
.menu__link {
  color: #ffff;
}

.menu__item,
.footer__mode {
  font-family: "Raleway", sans-serif;
}

.menu__link {
  text-decoration: none;
}

a:-webkit-any(link) {
  cursor: pointer;
}

.phone {
  margin-bottom: 1rem;
  font-family: "Oswald", sans-serif;
}

/*====================================media=======================================================*/
/*---page1_header-----*/
@media (max-width: 1340px) {
  .pfonepic,
  .header__navbar-drop {
    display: none;
  }

  .header__nav {
    display: grid;
    grid-template-columns: 40% 2fr repeat(3, 13%);
  }

  .header__logo {
    margin-left: 5%;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
  }
}

@media (max-width: 1204px) {
  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .header__navbar {
    visibility: visible;
    left: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #fff;

    transition-duration: 0.25s;
  }

  .menu__btn > span::before {
    content: "";
    top: -8px;
  }

  .menu__btn > span::after {
    content: "";
    top: 8px;
  }

  .header__navbar {
    visibility: hidden;
    display: block;
    position: fixed;
    left: 0;
    top: 50px;
    z-index: 5;
    width: 200px;
    max-height: 100vh;
    margin: 0;
    padding: 5px 0;
    list-style: none;
    background-color: #0043819a;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
  }

  .header__links {
    display: block;
    padding: 12px 24px;

    color: #fff;
    font-size: 20px;
    font-weight: 400;

    text-decoration: none;

    transition-duration: 0s;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .header__navbar {
    visibility: visible;
    left: 0;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: 0.25s;
  }

  .header__navbar {
    transition-duration: 0.25s;
  }

  .header__links {
    transition-duration: 0s;
    z-index: 3;
  }

  .header__links:hover {
    background-color: #004281;
  }

  .header__pfone,
  .header__socseti {
    display: none;
  }

  .header__nav {
    display: grid;
    grid-template-columns: 40% 40% 50%;
  }

  .header__call {
    padding-top: 5%;
    max-width: 150px;
  }

  .header__logo {
    margin-left: 0px;
  }
}

@media (max-width: 820px) {
  .header__calllinks {
    display: none;
  }

  .header__logo {
    padding-left: 0px;
  }
}

@media (max-width: 585px) {
  .header__nav {
    display: grid;
    grid-template-columns: 37% 40%;
  }
}

@media (max-width: 440px) {
  .header__nav {
    display: grid;
    grid-template-columns: 31% 40%;
  }
}

/*----------header-title---------*/
@media (max-width: 1280px) {
  .header__title {
    display: flex;
    justify-content: center;
  }

  .header__title-text {
    text-align: center;
  }

  .header__botton-text {
    margin-left: 100px;
  }

  .title {
    font-size: 80pt;
  }

  .header__right-title {
    display: none;
  }
}

@media (min-width: 585px) and (max-width: 1204px) {
  .section-text {
    display: none;
  }
}

@media (max-width: 585px) {
  .section-text {
    display: none;
  }

  .header__botton-text {
    margin-left: 80px;
  }

  .footer-img {
    display: none;
  }

  .title {
    font-size: 60pt;
  }
}

@media (max-width: 440px) {
  .section-text {
    display: none;
  }

  .footer-img,
  .footer-img2 {
    display: none;
  }

  .title {
    font-size: 50pt;
  }

  .text {
    display: none;
  }

  .header__title-text {
    text-align: center;
  }

  .header__botton-text {
    margin-left: 20px;
  }
}

/*--------page1_main-info-----------*/

@media (max-width: 1200px) {
  .main__title-intro {
    font-size: 30pt;
  }

  .main__title-intro::before {
    content: "6";
    font-size: 70pt;
    display: block;
    position: relative;
    top: 100px;
    right: 380px;
  }
}

@media (max-width: 900px) {
  .main__intro {
    display: grid;
    grid-template-columns: repeat(2, 60%);
    grid-gap: 5%;
    padding-right: 0px;
  }

  .main__ihfo {
    display: flex;
    max-width: 25vw;
    flex-direction: column;
  }

  .main__info-text {
    width: 30vw;
  }
}

@media (max-width: 820px) {
  .main__title-intro {
    font-size: 20pt;
  }

  .main__title-intro::before {
    content: "6";
    font-size: 60pt;
    display: block;
    position: relative;
    top: 80px;
    right: 250px;
  }
}

@media (max-width: 591px) {
  .textp {
    display: none;
  }
}

@media (max-width: 550px) {
  .main__title-intro {
    font-size: 15pt;
  }

  .main__title-intro::before {
    content: "6";
    font-size: 40pt;
    display: block;
    position: relative;
    top: 55px;
    right: 190px;
  }
}

@media (max-width: 440px) {
  .main__title-intro {
    font-size: 10pt;
  }

  .main__title-intro::before {
    content: "6";
    font-size: 30pt;
    display: block;
    position: relative;
    top: 40px;
    right: 130px;
  }
}

/*----------page1_main_room_cards---------*/
@media (min-width: 950px) and (max-width: 1280px) {
  .container__roomcards {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .roomcard-mini {
    display: grid;
    width: 27vw;
    background-color: #ffff;
    padding: 10px;
    margin: 30px 10px 0 0;
  }

  .main__title {
    font-size: 40pt;
  }
}

@media (max-width: 949px) {
  .container__roomcards {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .roomcard-mini {
    display: grid;
    width: 50vw;
  }

  .main__title {
    font-size: 40pt;
  }
}

@media (max-width: 591px) {
  .container__roomcards {
    width: 92vw;
  }

  .roomcard-mini {
    display: grid;
    width: 90vw;
    margin-bottom: 10px;
    margin-left: 30px;
  }

  .main__title {
    font-size: 25pt;
    text-align: center;
  }

  .description__button-button1,
  .description__button-button2 {
    width: 90vw;
    margin: 0 10px 10px 10px;
  }
}

/*----------register form---------*/

@media (min-width: 769px) and (max-width: 1468px) {
  .register-blok__context{
    max-width: 1300px;
    margin: 0 auto;
  }

  .register-img {
    display: none;
  }
  .header-register {
    padding-left: 179px;
  }
  }


@media (max-width: 1024px) {
  .register-blok__title {
    font-size: 40px;
  }

  .header-register__list li {
    display: inline-block;
    font-size: 18px;
  }

  .main__register {
    text-align: center;
  }

  .register-blok,
  .register-blok__columns {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 50px 0px;
  }

  .register-box {
    justify-content: center;
  }

  .register-box__data {
    margin: 0px 50px 0px 0px;
  }

  .main__register-form {
    width: 80vw;
    margin-left: 80px;
    margin-top: 30px;
  }

  .register-button__book {
    margin: 0px 0px 13px 0px;
  }

  .register-box__title,
  .register-box2__title,
  .register-box3__title,
  .register-box4__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
  }

  .register-box2__style,
  .register-box3__style,
  .register-box4__style {
    width: 385px;
    padding: 13px 0px 13px 0px;
    font-size: 13pt;
  }

  .register-box4__style {
    padding: 5px 0px 100px 5px;
  }
}

@media (max-width: 768px) {
  .header-register {
    padding: 50px 0px 30px 0px;
  }

  .header-register__list li {
    display: block;
    font-size: 18px;
  }

  .header-register__list li::before {
    font-size: 16px;
    width: 18px;
    height: 18px;
  }

  .register-blok__title {
    font-size: 35px;
    margin: 0px 0px 50px 0px;
  }

  .register-img {
    display: none;
  }
}

@media (max-width: 600px) {
  .main__register-form {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media (max-width: 470px) {
  .register-blok__title {
    font-size: 30px;
  }

  .header-register {
    padding: 20px 0px 20px 0px;
  }

  .register-box__style {
    width: 111px;
  }

  .register-box__style {
    font-size: 16px;
  }

  .register-box__data {
    margin: 0px 20px 0px 0px;
  }

  .register-box2__style,
  .register-box3__style,
  .register-box4__style {
    width: 280px;
  }

  .register-button__book {
    width: 250px;
    font-size: 15px;
    padding: 15px 0px 15px 0px;
  }
}

/*---------cards-blok----------*/
@media (max-width: 1395px) {
  .main__cards-cena {
    font-size: 11pt;
  }
}

@media (max-width: 1311px) {
  .main__cards-conteiner {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  .main__cards-textp {
    font-size: 15pt;
  }

  .main__cards-txt {
    font-size: 30pt;
  }

  .main__cards-blok {
    display: flex;
    background-color: white;
    height: 45vh;
    min-height: 350px;
    padding: 3%;
    margin-bottom: 20px;
    width: 700px;
  }
}

@media (min-width: 769px) and (max-width: 915px) {
  .main__cards-blok {
    display: flex;
    background-color: white;
    height: 40vh;
    padding: 3%;
  }
}

@media (max-width: 768px) {
  .main__cards-textp,
  .main__cards-cena {
    display: none;
  }

  .main__cards-txt {
    font-size: 25pt;
  }

  .main__cards-blok {
    display: flex;
    background-color: white;
    padding: 3%;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
  }

  .main__cards-blok {
    height: 1%;
  }

  .main__cards-texth {
    font-size: 18pt;
  }
}

/*----------gallery---------*/
@media (max-width: 1281px) {
  .photos-area__title {
    font-size: 6vw;
    line-height: 95px;
  }

  .main__gallery {
    max-width: 1100px;
  }
}

@media (max-width: 1150px) {
  .main__gallery {
    max-width: 1000px;
    padding: 100px 20px 0px 20px;
  }

  .gallery-block__photo1 {
    width: 480px;
    margin-right: 20px;
  }

  .gallery-block__photo1 img {
    height: 340px;
  }

  .gallery-block__photo2 {
    width: 235px;
    margin: 0px 20px 0px 0px;
  }

  .gallery-block__photo2 img {
    margin-bottom: 20px;
    height: 158px;
  }

  .gallery-block_photo3 {
    width: 244px;
  }

  .gallery-block__photo3 img {
    height: 340px;
  }

  .gallery-block2 {
    display: flex;
    margin-top: 20px;
  }

  .gallery-block2__photo1 {
    width: 230px;
    margin: 0px 20px 0px 0px;
  }

  .gallery-block2__photo1 img {
    margin: 0px 0px 20px 0px;
    height: 148px;
  }

  .gallery-block2__photo2 {
    width: 230px;
    margin: 0px 20px 0px 0px;
  }

  .gallery-block2__photo2 img {
    height: 320px;
  }

  .gallery-block2__photo3 {
    width: 500px;
  }

  .gallery-block2__photo3 img {
    height: 320px;
  }
}

@media (max-width: 1030px) {
  .photos-area__title {
    font-size: 6vw;
    line-height: 85px;
  }

  .main__gallery {
    max-width: 900px;
  }

  .gallery-block {
    flex-direction: column;
    margin: 40px 0px 0px 0px;
  }

  .gallery-block__blok,
  .gallery-block2__blok {
    padding: 20px 0px 0px 0px;
    justify-content: center;
  }

  .gallery-block__photo1 {
    width: 700px;
    margin: 0 auto;
  }

  .gallery-block__photo1 img {
    height: 480px;
  }

  .gallery-block__photo2 {
    width: 340px;
  }

  .gallery-block__photo2 img {
    height: 220px;
  }

  .gallery-block_photo3 {
    width: 270px;
  }

  .gallery-block__photo3 img {
    height: 465px;
  }

  .gallery-block2 {
    flex-direction: column-reverse;
  }

  .gallery-block2__photo1 {
    width: 370px;
    margin: 0px 20px 0px 0px;
  }

  .gallery-block2__photo1 img {
    margin-bottom: 20px;
    height: 230px;
  }

  .gallery-block2__photo2 {
    width: 320px;
    margin: 0;
  }

  .gallery-block2__photo2 img {
    height: 485px;
  }

  .gallery-block2__photo3 {
    width: 710px;
    margin: 0 auto;
  }

  .gallery-block2__photo3 img {
    height: 480px;
  }
}

@media (max-width: 767.98px) {
  .photos-area__title {
    font-size: 6vw;
    line-height: 65px;
  }

  .main__gallery {
    padding: 50px 0px 0px 0px;
  }

  .main__gallery {
    margin: 50px 0px 0px 0px;
  }

  .gallery-block__photo1 {
    width: 550px;
  }

  .gallery-block__photo1 img {
    height: 350px;
  }

  .gallery-block__photo2 {
    width: 265px;
    margin: 0px 15px 0px 0px;
  }

  .gallery-block__photo2 img {
    height: 165px;
    margin: 0px 0px 15px 0px;
  }

  .gallery-block_photo3 {
    width: 257px;
    margin: 0;
  }

  .gallery-block__photo3 img {
    height: 350px;
  }

  .gallery-block2__photo1 {
    width: 267px;
    margin: 0px 15px 0px 0px;
  }

  .gallery-block2__photo1 img {
    height: 170px;
  }

  .gallery-block2__photo2 {
    width: 255px;
  }

  .gallery-block2__photo2 img {
    height: 365px;
  }

  .gallery-block2__photo3 {
    width: 550px;
  }

  .gallery-block2__photo3 img {
    height: 350px;
  }
}

@media (max-width: 600px) {
  .main__gallery {
    padding: 30px 0px 0px 0px;
  }

  .gallery-block__photo1 {
    width: 420px;
  }

  .gallery-block__photo1 img {
    height: 300px;
  }

  .gallery-block__photo2 {
    width: 201px;
    margin: 0px 15px 0px 0px;
  }

  .gallery-block__photo2 img {
    height: 125px;
    margin: 0px 0px 15px 0px;
  }

  .gallery-block_photo3 {
    width: 198px;
    margin: 0;
  }

  .gallery-block__photo3 img {
    height: 270px;
  }

  .gallery-block2__photo1 {
    width: 201px;
    margin: 0px 15px 0px 0px;
  }

  .gallery-block2__photo1 img {
    height: 125px;
  }

  .gallery-block2__photo2 {
    width: 198px;
  }

  .gallery-block2__photo2 img {
    height: 270px;
  }

  .gallery-block2__photo3 {
    width: 420px;
  }

  .gallery-block2__photo3 img {
    height: 300px;
  }

  .gallery-button {
    padding: 50px 0px 0px 0px;
  }
}

@media (max-width: 450px) {
  .photos-area__title {
    line-height: 35px;
  }

  .main__gallery {
    padding: 0px 10px;
  }

  .gallery-block__blok,
  .gallery-block2__blok {
    padding: 15px 0px 0px 0px;
  }

  .gallery-block__photo1 {
    width: 330px;
  }

  .gallery-block__photo1 img {
    height: 250px;
  }

  .gallery-block__photo2 {
    width: 150px;
    margin: 0px 15px 0px 0px;
  }

  .gallery-block__photo2 img {
    height: 105px;
    margin: 0px 0px 15px 0px;
  }

  .gallery-block_photo3 {
    width: 168px;
  }

  .gallery-block__photo3 img {
    height: 230px;
  }

  .gallery-block2__photo1 {
    width: 150px;
    margin: 0px 15px 0px 0px;
  }

  .gallery-block2__photo1 img {
    height: 105px;
    margin: 0px 0px 15px 0px;
  }

  .gallery-block2__photo2 {
    width: 168px;
  }

  .gallery-block2__photo2 img {
    height: 230px;
  }

  .gallery-block2__photo3 {
    width: 330px;
  }

  .gallery-block2__photo3 img {
    height: 250px;
  }

  .gallery-button__watch {
    padding: 17px 36px 14px 36px;
    font-size: 15px;
  }
}

@media (max-width: 361px) {
  .photos-area__title {
    font-size: 7vw;
    line-height: 35px;
  }

  .gallery-block__blok,
  .gallery-block2__blok {
    padding: 10px 0px 0px 0px;
  }

  .gallery-block__photo1 {
    width: 260px;
  }

  .gallery-block__photo1 img {
    height: 10px;
  }

  .gallery-block__photo2 {
    width: 128px;
    margin: 0px 10px 0px 0px;
  }

  .gallery-block__photo2 img {
    height: 80px;
    margin: 0px 0px 10px 0px;
  }

  .gallery-block_photo3 {
    width: 125px;
  }

  .gallery-block__photo3 img {
    height: 175px;
  }

  .gallery-block2__photo1 {
    width: 128px;
    margin: 0px 10px 0px 0px;
  }

  .gallery-block2__photo1 img {
    height: 80px;
    margin: 0px 0px 10px 0px;
  }

  .gallery-block2__photo2 {
    width: 125px;
  }

  .gallery-block2__photo2 img {
    height: 175px;
  }

  .gallery-block2__photo3 {
    width: 260px;
  }

  .gallery-block2__photo3 img {
    height: 170px;
  }
}

/*--------reviews-----------*/
@media (max-width: 1200px) {
  .reviews__card1,
  .reviews__author1 {
    display: none;
  }

  .main__title {
    font-size: 35pt;
  }
}

@media (max-width: 786px) {
  .reviews__card2,
  .reviews__author2 {
    display: none;
  }

  .main__title {
    font-size: 25pt;
  }
}

/*---------location----------*/
@media (max-width: 1093px) {
  .main__location-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .main__location-adres,
  .main__location-whats {
    padding-left: 10%;
  }
}

/*--------footer-----------*/
@media (min-width: 769px) and (max-width: 1099px) {
  .container__footer-btn,
  .footer__btn {
    display: none;
  }
  .menu__list-footer {
    width: 60vw;
    margin: 0;
  }
  .footer__contacts {
    width: 40vw;
    max-width: 250px;
    padding-left: 30px;
  }
}
@media (max-width: 768px) {
  .container__footer-btn,
  .footer__btn,
  .menu__list-footer,
  .menu__item-footer,
  .menu__link-footer,
  .footer ul {
    display: none;
  }
  .footer {
    background-color: #004281;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "contacts";
    max-width: 100vw;
  }
  .footer__contacts {
    min-width: 90vw;
    max-width: 90vw;
    align-self: center;
    padding: 10px;
  }
}
