@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@500;600;700&family=Montserrat:wght@700&family=Oswald:wght@500&family=Raleway:ital,wght@0,300;0,500;0,600;1,100&family=Rubik:wght@300;400;500&display=swap");

/*font-family: 'Cormorant Unicase', serif;
font-family: 'Rubik', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Lora', serif;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  ;
}

.header {
  background-color: #004281;
  display: grid;
  max-width: 100vw;
  grid-template-columns: 1fr 164px 1fr;
  grid-template-rows: 6em;
  max-height: 6rem;
}

.phone,
.menu__link,
.header__call-link,
.footer__mode {
  color: rgb(255, 255, 255);
}

.menu__link {
  text-decoration: none;
}

a:-webkit-any(link) {
  cursor: pointer;
}

.menu__list-header {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

.menu,
.header__contacts,
.menu__item-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-self: center;
}

.menu__item-header {
  margin-right: 2em;
}

.menu__item,
.footer__mode {
  font-family: "Raleway", sans-serif;
}

.header__contacts,
.phone {
  margin-bottom: 1rem;
  font-family: "Oswald", sans-serif;
}

.header__call-link {
  font-family: "Montserrat", sans-serif;
}

.social-pic {
  margin-right: 0.5rem;
}

/*============================wrapper======================================*/

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  margin: 0px 0px 75px 0px;
}

/*=====================================breadcrumbs========================*/
.breadcrumbs {
  display: flex;
}

.breadcrumbs__list {
  display: flex;
  list-style: none;
  font-family: "Raleway", sans-serif;
  width: 80vw;
  margin-top: 8vw;
  margin-bottom: 3vw;
  position: relative;
  right: 1.2em;
}

.breadcrumbs__item1 ::after {
  content: ">";
  margin: 0.5rem;
}

.breadcrumbs__item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #505050;
  text-decoration: none;
}

.breadcrumbs__item-link--active {
  font-weight: 500;
  color: #000;
}

/*============================================aside============================*/
.aside {
  flex: 0 1 31%;
  display: flex;
  flex-direction: column;
  margin-top: 63px;
}

.aside__content {
  border: 1px solid;
  display: flex;
  flex-direction: column;
}

/*===================================filter======================*/

.aside__filter {
  width: 80%;
  margin: 0 auto;
}

.question-catalog {
  margin: 35px 0px 0px 0px;
  border-bottom: 1px solid #4c64ad2f;
}

.question-catalog:last-child {
  margin: 35px 0px 35px 0px;
}

.question-catalog__title {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: 600;
}

.question-catalog__variants {
  margin: 24px 0px 0px 0px;
  display: flex;
  flex-direction: column;
}

.question-catalog__number {
  display: flex;
}

.question-catalog__style[type='radio'] {
  display: none;
}

.question-catalog__point {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgba(81, 81, 81, 1);
}

.question-catalog__point:before {
  content: " ";
  display: inline-block;
  width: 1px;
  height: 1px;
  margin: 0px 10px 3px 0;
  border-radius: 10px;
  border: 2px solid #4c64ad;
  background-color: #4c64ad;
}

.question-catalog__style[type=radio]:checked+label:before {
  display: none;
}

.question-catalog__point {
  display: inline-block;
  cursor: pointer;
  padding: 11px 143px 11px 23px;
  white-space: nowrap;
  user-select: none;
  margin: 0px 0px 12px 0px;
}

.question-catalog__point:last-child {
  margin: 0px 0px 17px 0px;
}

.question-catalog__style[type=radio]:checked+label {
  border: 1px solid rgba(76, 101, 173, 1);
  max-width: 239px;
  padding: 11px 190px 11px 35px;
}

/*===================================card======================*/
.aside__card {
  background: linear-gradient(180deg,
      rgba(73, 187, 255, 0.12) 0%,
      rgba(124, 206, 255, 0.56) 100%),
    #eff9ff;
  margin-top: 25px;
}

.aside__card-text {
  max-width: 90%;
  margin: 0 auto;
}

.card-title__logo-mir,
.card-title__text {
  display: flex;
  align-items: center;
}

.card-title__gerbtext {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 0px 0px 0px 7px;
}


.card-title {
  padding: 15px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}

.cashback-20 {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 21px 0px 7px 0px;
}

.cashback-20__figure {
  font-family: "Raleway", sans-serif;
  font-size: 120px;
  font-weight: 700;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(109.98deg, #1577e4 6.71%, #00d583 105.52%);
}

.cashback-20__text {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.aside__card-picture {
  display: flex;
  justify-content: center;
}

.aside__card-picture img {
  width: 100%;
}

/*====================================main================================*/

.main {
  flex: 0 1 69%;
  margin: 0px 5px 0px 55px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 72px;
  color: rgba(76, 101, 173, 1);
}

.main__title {
  margin: 56px 0px 70px 0px;
  padding: 0;
}

.type-room__text {
  display: flex;
  justify-content: flex-end;
}

.type-room__top {
  background-color: #ffc03b;
  color: #ffff;
  display: inline;
  padding: 7.41px 24px 8.42px 24px;
  z-index: 2;
  position: absolute;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
}


.type-room__pic {
  z-index: -2;
  width: 20vw;
}

.type-room__content {
  display: flex;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 4px 4px rgba(94, 177, 255, 0.103);
  padding: 10px 10px;
}

.room-tour {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 43px;
}

.room-tour__available {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
}

.room-tour__available span {
  color: #01C839;
}

.room-tour__title {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  padding: 18px 0px 17px 0px;
}

.room-tour__text {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
}

.room-tour__subtext {
  max-width: 360px;
  border-left: 1px solid;
  padding: 0px 0px 0px 15px;
  margin: 20px 0px 40px 0px;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 17.6px;
  color: rgba(76, 101, 173, 1);
}

.room-tour__list {
  display: flex;
}

.room-items1__items,
.room-items2__items {
  margin: 0;
  padding: 0;
}

.items {
  list-style: square url(/assets/images/checkmark.png) inside;
  color: #545454;
}

.room-items1__li,
.room-items2__li {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 19.2px;
}

.room-items1__li {
  padding: 0px 0px 12px 0px;
}

.room-items2__li {
  padding: 0px 0px 12px 39px;
}

.items__li:last-child {
  padding-bottom: 0px;
}

.room-information__container {
  display: flex;
  justify-content: space-between;
}

.room-information__details {
  display: flex;
  flex-direction: column;
}

.room-information__quantity {
  color: #545454;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 19px;
  padding-bottom: 7px;
}

.room-information__quantity span {
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #000;
}

.room-information__price {
  color: #545454;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 19px;
}

.room-information__price span {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #000;
}

.room-information__button {
  border: 1px solid #4c65ad;
  padding: 14px 46px 12px 46px;
}

.button {
  display: inline-block;
  white-space: nowrap;
  background-color: inherit;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #4c65ad;
  text-decoration: none;
}

.button:hover {
  background-color: #4c65ad;
  border-color: #ffff;
  color: #ffff;
  cursor: pointer;
}

.type-room__content2 {
  display: flex;
  margin: 48px 0px 30px 0px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 4px 4px rgba(94, 177, 255, 0.103);
  padding: 10px 10px;
}

.type-room__content4 {
  display: flex;
  margin: 30px 0px 0px 0px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 4px 4px rgba(94, 177, 255, 0.103);
  padding: 10px 10px;
}

/*==============================Gallery============================================*/
.main__gallery {
  max-width: 100%;
  padding: 75px 0px 0px 0px;
  flex-direction: column;
  margin: 0 auto;
}

.photos-area__title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 72px;
  color: rgba(76, 101, 173, 1);
}

.photos-area {
  text-align: center;
  display: flex;
  justify-content: center;
}

.gallery-block {
  display: flex;
  margin-top: 80px;
}

.gallery-block__photo1 {
  max-width: 752px;
  margin-right: 30px;
}

.gallery-block__photo1 img {
  height: 378px;
}

.gallery-block__photo2 {
  max-width: 277px;
  margin-right: 30px;
}

.gallery-block__photo2 img {
  margin-bottom: 30px;
  max-height: 172px;
}

.gallery-block__photo2 img:last-child {
  margin: 0px;
}

.gallery-block_photo3 {
  width: 279px;
  margin-left: 30px;
}

.gallery-block__photo3 img {
  max-height: 378px;
}

.gallery-block2 {
  display: flex;
  margin-top: 42px;
}

.gallery-block2__photo1 {
  max-width: 277px;
  margin-right: 30px;
}

.gallery-block2__photo1 img {
  margin-bottom: 30px;
  max-height: 172px;
}

.gallery-block2__photo1 img:last-child {
  margin: 0px;
}

.gallery-block2__photo2 {
  width: 279px;
}

.gallery-block2__photo2 img {
  height: 378px;
}

.gallery-block2__photo3 {
  max-width: 712px;
  margin-left: 30px;
}

.gallery-block2__photo3 img {
  height: 378px;
}

.gallery-block__photo1 img,
.gallery-block__photo2 img,
.gallery-block__photo3 img,
.gallery-block2__photo1 img,
.gallery-block2__photo2 img,
.gallery-block2__photo3 img {
  max-width: 100%;
}

.gallery-button {
  display: flex;
  justify-content: center;
  padding: 74px 0px 0px 0px;
}

.gallery-button__watch {
  border: 1px solid;
  padding: 24px 75px 19px 75px;
}

/*==============================Footer============================================*/
.footer {
  background-color: #004281;
  display: grid;
  max-width: 100vw;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 8rem;
  max-height: 8rem;
  grid-template-areas: "nav btn contacts";
  margin-top: 5rem;
}

.menu__list-footer {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.menu__item-footer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 0.5em;
}

.container__footer-btn {
  grid-area: btn;
  display: flex;
  align-content: center;
}

.footer__btn {
  background-color: inherit;
  border-color: #ffff;
  border: solid 1px;
  color: #ffff;
  font-family: "Raleway", sans-serif;
  padding: 0.5rem 3rem;
  margin: 2rem;
}

.footer__contacts {
  grid-area: contacts;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__mode {
  margin-bottom: 1rem;
}

.footer__phone {
  font-size: x-large;
}

.footer__social {
  margin-right: 2rem;
}